In [1]:
#Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn.metrics.pairwise import cosine_similarity

import nltk
from nltk.corpus import stopwords

In [2]:
#Load the dataset
movie_details = pd.read_csv("movie.csv")
movie_details.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
movie_details.shape

(27278, 3)

In [4]:
movie_details['title'] = movie_details['title'].astype('str')
movie_details['genres'] = movie_details['genres'].astype('str')

In [5]:
def recommended_movie(name):
    
    #fillNA
    movie_details['genres'].fillna('Null', inplace = True)
    
    #Create matrix using TF-IDF vectorizer
    tf = TfidfVectorizer(strip_accents='ascii',lowercase=True,stop_words = stopwords.words('english'))
    
    tfidf_matrix = tf.fit_transform(movie_details['genres'])
    
    
    # find the similarity using linear kernel
    similarities = cosine_similarity(tfidf_matrix, tfidf_matrix)
    
    #Construct a reverse map of indices and movie titles
    indices = pd.Series(movie_details.index, index=movie_details['title']).drop_duplicates()
    
    #find and sort the similarity scores
    idx = indices[name]
    
    sim_scores = list(enumerate(similarities[idx]))
    
    sim_scores.sort(key=lambda x: x[1],reverse = True)
    
    #10 similar movies
    sim_scores = sim_scores[0:11]
    
    #Recommendations
    print('Movie Recommendations:')
    print("\t")
    for i,j in sim_scores:
        if i != idx:
            recommended_movies = movie_details['title'].iloc[i]
            print(recommended_movies)

In [6]:
recommended_movie('Four Rooms (1995)')

Movie Recommendations:

Father of the Bride Part II (1995)
Ace Ventura: When Nature Calls (1995)
Bio-Dome (1996)
Friday (1995)
Black Sheep (1996)
Mr. Wrong (1996)
Happy Gilmore (1996)
Happiness Is in the Field (Bonheur est dans le pr√©, Le) (1995)
Steal Big, Steal Little (1995)
Flirting With Disaster (1996)